@import "auth.css";
@import "one_movie.css";
@import "movies.css";
@import "footer.css";
@import "profile.css";

/* ================= ROOT ================= */
:root {
    --text-success: #00f581;
}

/* ================= BASE ================= */
html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #0d1117;
    color: #e6edf3;
}

.cursor-pointer { cursor: pointer; }

.text-success {
    color: var(--text-success) !important;
    text-shadow: 0 0 5px var(--text-success);
}

.tooltip-inner {
    background-color: #00f581 !important;
}


/* ================= ANIMATIONS ================= */
@keyframes fadeIn {
    from {opacity:0; transform:translateY(10px);}
    to   {opacity:1; transform:translateY(0);}
}

